 {% extends "core/base.html" %}
  {% load static %}

  {% block titulo %}
     Contactanos
  {% endblock titulo %}


  {% block contenido %}
<!-- JUMBO TRON DE TITULO -->
<nav>
    <div class="container">
     <div class="jumbotron">
      <h1 style='font-size: 50px; ' class="text-primary">Contáctanos</h1>
    </div>
    <h3>Contáctanos 24 horas al día, 7 días a la semana</h3>
    <p><strong>Estamos comprometidos en obtener tu satisfacción y la de tus seres queridos.</strong></p>
    <p>A lo largo de una década hemos entregado más de 750,000 arreglos florales y nos sentimos muy orgullosos que nuestros clientes</p>
    <p>día a día siguen regresando y demandando nuestros productos. Nuestra meta es que tu y tus seres queridos queden muy a gusto </p>
    <p>con nuestro servicio.</p>
    </div>
    </nav>  

    <!-- Formulario de contacto -->
    <div class="container">
    <div class="row">
    <div class="col-sm-4">
    <label for="demo"><strong>Ingrese su correo a continuación:</strong> </label>
    <div class="input-group mb-0">
      <input type="text" class="form-control" placeholder="Email" id="demo" name="email" style="border-style: solid; border-width: 3px; border-color: black;"> 
    </div></div></div></div>
    <div class="container">
      <div class="row">
    <div class="col-sm-8" >
        <label for="demo"><strong>Ingrese su consulta:</strong> </label>
        <div class="form-group">
            
            <textarea class="form-control" rows="5" id="comment" style="border-style: solid; border-width: 3px; border-color: black;"></textarea>
          </div>
          <br>
    </div>
  </div>
</div>
    
  </div>
 {% endblock contenido %}