{% extends "core/base.html" %}
  {% load static %}
  
    {% block titulo %}
     Galeria
    {% endblock titulo %}

  
   {% block contenido %}
<!-- JUMBO TRON DE TITULO -->
<nav>
    <div class="container-fluid">
     <div class="jumbotron">
      <h1 style='font-size: 50px; ' class="text-primary">Arreglos Florales</h1>
    </div>
    </div>
    </nav>  

    <!-- Galeria de imagenes -->
    <div class="container-fluid">
        <p><strong>AGREGAR TEXTO NO OLVIDAR</strong></p>
        <p>Acá tambien</p>
        <p><strong></strong>Acá quizá</p>
    </div>    
        {% for p in listaflores %}
            <div class="cuadro">
            <h3>{{p.name}}</h3>
            <img src="{{ p.imagen.url }}">
            <p>{{p.descripcion}}  </p>
           
            
        </div>

        {% endfor %}  
   
       


{% endblock contenido %}
