{% extends "core/base.html" %}



    {% block titulo %}
     Floreria Petalos
    {% endblock titulo %}

{% block contenido %}       
  {% load static %}
<!-- JUMBO TRON DE TITULO -->
<nav>
<div class="container">
 <div class="jumbotron">
  <h1 style='font-size: 70px'>Floreria Petalos</h1>
  <p style='font-size: 24px'>Arreglos Florales y Rosas</p>
</div>
</div>
</nav>  
 <!-- Carrusel De imagenes --> 
<center>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'core/img/flor1.jpg' %}" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3 class="text-primary">ENSAMBLADOS A MANO</h3>
       <b> <p class="text-primary">Nuestros artesanos armarán tu regalo con flores frescas</p> </b>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/img/flor2.jpg' %}" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3 class="text-primary">CALIDAD COMPROBADA</h3>
        <b> <p class="text-primary">Utilizamos un proceso de calidad que garantiza la frescura de cada ramo</p> </b>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/img/flor3.jpg' %}" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3 class="text-primary">ENTREGA EXPRESS</h3>
        <b> <p class="text-primary">Nuestro envío express hará que se regalo llegue rapido y en optimas condiciones</p> </b>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</center>

{% endblock contenido %}