{% extends "core/base.html" %}

{% block titulo %}
    Registro de Usuario
{% endblock titulo %}

{% block contenido %}
{% load static %}
<body background={% static 'core/img/fondo_login.jpg' %}>
<block>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1" style="margin-left: 50px;">Correo electronico:</label>
    <div>
    <input type="email" class="form-control" style="width: 300px; margin-left: 50px;" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electronico">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="margin-left: 50px;">Contraseña:</label>
    <div>
    <input type="password" class="form-control" style="width: 300px; margin-left: 50px;" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
  </div>
  <label for="exampleInputPassword1" style="margin-left: 50px;">Confirme Contraseña:</label>
    <div>
    <input type="password" class="form-control" style="width: 300px; margin-left: 50px;" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" style="width: 80px; margin-left: 50px;">Enviar</button>
</form>
</block>
</body>
{% endblock contenido %}